<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BuscaLote</servlet-name>
        <servlet-class>control.BuscaLote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaProduto</servlet-name>
        <servlet-class>control.BuscaProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaProduto</servlet-name>
        <servlet-class>control.VendaProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaCliente</servlet-name>
        <servlet-class>control.BuscaCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscaLote</servlet-name>
        <url-pattern>/BuscaLote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaProduto</servlet-name>
        <url-pattern>/BuscaProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaProduto</servlet-name>
        <url-pattern>/VendaProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaCliente</servlet-name>
        <url-pattern>/BuscaCliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
